/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
/.vscode
/resources/assets
/public/uploads
/public/assets/admin/ckeditor5-32.0.0
/public/assets/front
#.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
